.nav { background-color: #791583;}

.nav a{

  color: rgb(247, 247, 247);
}
.nav a:hover{

  background-color: rgb(162, 58, 133);
  border-radius: 15px;
  color: aliceblue;
}
.container{ background-color: rgb(196, 121, 198);}

.card img { border-radius: 15px; display: flex; filter:brightness(0.9); width: 200px; height: 200px; object-fit: fill;}

.card { font-weight: auto; width: auto; height: auto;}





.barra{ padding: auto; height: auto; border-radius: 10px;}
